<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{ '/assets/images/capturesmall.png' | relative_url }}">

	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
		<div class="container-fluid">
			<a class="navbar-brand me-2 text-primary" href="index.html">
				<img src="assets/images/capturesmall.png" height="30px" />
				CAPTURE
			</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="{{ 'about' | relative_url }}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ 'people' | relative_url }}">People</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ 'outputs' | relative_url }}">Outputs</a>
				</li>
			</ul>
			<a href="https://github.com/{{ site.github_username }}" class="text-dark">
				<img alt="GitHub logo" height="20" class="mx-1" src="assets/images/github-mark.svg" />
			</a>
		</div>
	</nav>

	<main class="container">
		{{ content }}
	</main>

	<footer class="container text-center mt-5 mb-3 text-muted d-flex justify-content-between">
		<div>
			© {{ site.time | date: '%Y' }} {{ site.title }}
		</div>
		<div>
			<img src="assets/images/Harvard.png" height="80" />
			<img src="assets/images/GHECO.png" height="80" />
			<img src="assets/images/LSHTM.jpg" height="80" />
		</div>
	</footer>
</body>

</html>